@font-face {
  font-family: 'nica';
  font-weight: normal;
  font-style: normal;
  src: url("../../assets/fonts/KGCorneroftheSky.ttf") format('truetype');
}

* {
  box-sizing: border-box;
}

html {
  background: #15202B;
  font-family: nica;
}

.container {
  display: flex;
  justify-content: center;
  color: white;
}

.card {
  display: inline-block;
  position: relative;
  width: 20%;
  background-color: #1E2732;
  border: solid 1px white;
  border-radius: 10px;
  padding: 2%;
  margin: 5%;
  text-align: center;
  overflow: hidden;
  box-shadow: 0 0 10px white;
  font-size: 12px;
}

h1 {
  letter-spacing: 2px;
}

.avatar {
  width: 7vw;
  height: 7vw;
  background-size: cover;
  background-position: top center;
  border: solid 3px white;
  border-radius: 50%;
}

.button {
  padding: 3%;
  width: 100%;
  margin: 2%;
  background: none;
  border: solid 1px white;
  border-radius: 30px;
  cursor: pointer;
  color: white;
  font-family: nica;
  font-size: 10px;
}

.button:hover {
  background: white;
  color: black;
  transition: background 1s, color 1s;
}